.experience-container{
    width: 100%;
    padding: 20px 5%;
    background: #000000;
}
.experience-container h1{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
.underline{
    border: 2px solid #a8684a;
    width: 120px;
    margin: auto;
    margin-bottom: 50px ;
}
.experiences-list{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.experience-1{
    border-left: 10px solid  rgb(168, 104, 68);
    background: #5752529a;
    margin: 10px 5px;
    border-radius: 10px;
    color: #a19b9b;
    padding: 0 20px;
}
.experience-1 h2{
    font-size: 30px;
}
.experience-1 p{
    font-style: italic;
}
.experience-1 ul li{
    list-style-type: none;
    width: 700px;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
}